---
import RainLayout from "@layouts/RainLayout.astro";

---

<RainLayout>
    <!-- TODO -->
    <div class="w-screen h-screen fixed left-0 bottom-0 z--1 flex flex-col gap-2 text-center items-center justify-center">
        <img width="128" src="/dog.webp" />
        <i class="max-w-70">Looks like there's nothing here - check back soon?</i>
    </div>
</RainLayout>
