---
import type { MDXInstance } from "astro";
import Icon from "astro-icon";
import RainLayout from "@layouts/RainLayout.astro";
import PostCard from "@components/PostCard.astro";

const posts = await Astro.glob<Post>("./**/*.mdx");

// Reverse chronological order - thanks Yellowsink
const sortPosts = (p1: MDXInstance<Post>, p2: MDXInstance<Post>) => new Date(p2.frontmatter.pubDate).getTime() - new Date(p1.frontmatter.pubDate).getTime();
---

<RainLayout title="blog" ogpDescription="Things I've written for the internet to read.">
    <div class="flex flex-col gap-2 text-center">
        {posts.sort(sortPosts).map((post) => <PostCard {...post.frontmatter} href={post.url!} />)}
        <div class="flex gap-2 self-center items-center">
            <img class="image-render-pixel" width="64" src="/dog.webp" />
            <a href="/blog.rss" class="bg-[#F3B391] bg-opacity-80 rounded-md text-normal!">
                <Icon class="w-8 h-8" pack="ic" name="round-rss-feed" />
            </a>
        </div>
    </div>
</RainLayout>
