---
import AccentGradient from "@components/AccentGradient.astro";
import ProfilePicture from "@components/ProfilePicture.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<!-- TODO: Probably better as .mdx -->
<BaseLayout title="home">
    <div class="flex sm:flex-row lt-sm:flex-col gap-4 items-center mb-4">
        <ProfilePicture height={96} width={96} inline />
        <h1 class="sm:text-6xl! lt-sm:(text-4xl! text-center)">Hi there, I'm <AccentGradient>maisy</AccentGradient>!</h1>
    </div>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
</BaseLayout>
