---
import Greeting from "@components/Greeting.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<!-- TODO: Probably better as .mdx -->
<BaseLayout title="home">
    <Greeting />
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
    <p>Welcome to my website!</p>
</BaseLayout>
