---
// https://stackoverflow.com/a/7091965

export interface Props {
    birthDate: string;
};

const birthDate = new Date(Astro.props.birthDate);
const currentDate = new Date();

let age = currentDate.getFullYear() - birthDate.getFullYear();
const month = currentDate.getMonth() - birthDate.getMonth();

if (month < 0 || (month === 0 && currentDate.getDate() < birthDate.getDate())) age--;
---

<span>{age}-year-old</span>
