---
import { Icon } from "astro-icon";

export type Props = Social;

const { username, platform, href, iconPack } = Astro.props;

// This component is kinda icky - overriding my preflights is not fun
---

<div class="flex flex-row gap-2 items-center w-fit">
    <span class="bg-accent-alt rounded-full p-2"><Icon class="w-6 h-6" pack={iconPack ?? "simple-icons"} name={platform.toLowerCase().split(" ").join("")} /></span>
    <div class="bg-secondary bg-opacity-95 rounded-full py-2 px-4">
        <a class="text-normal!" target="_blank" href={href}>{username}</a>
    </div>
</div>
