---
import Social from "@components/Social.astro";

const socials: Social[] = [
    {
        platform: "discord",
        username: "maisymoe",
        href: "//discord.com/users/257109471589957632",
    },
    {
        platform: "github",
        username: "maisymoe",
        href: "//github.com/maisymoe",
    },
    {
        platform: "steam",
        username: "maisymoe",
        href: "//steamcommunity.com/id/maisymoe/"
    },
    {
        platform: "minecraft",
        username: "maisymoe",
        iconPack: "mdi",
        href: "//namemc.com/profile/maisymoe.1"
    },
    {
        platform: "spotify",
        username: "maisy",
        href: "//open.spotify.com/user/31gzlvwxhbkhzb6yl2hsbe3zi2nu?si=d2d1b51d0dd0482c"
    },
    {
        platform: "mastodon",
        username: "maisy@wetdry.world",
        href: "https://wetdry.world/@maisy",
    }
]
---

<div class="flex flex-col gap-2 my-4">
    {socials.map((s) => <Social {...s} />)}
</div>
