---
import Social from "@components/Social.astro";

const socials: Social[] = [
    {
        platform: "discord",
        username: "maisymoe",
        color: "#7289da",
        href: "//discord.com/users/257109471589957632",
    },
    {
        platform: "github",
        username: "maisymoe",
        color: "#0d1117",
        href: "//github.com/maisymoe",
    },
    {
        platform: "steam",
        username: "maisymoe",
        color: "#241f20",
        href: "//steamcommunity.com/id/maisymoe/"
    },
    {
        platform: "minecraft",
        username: "maisymoe",
        iconPack: "mdi",
        color: "#3c8527",
        href: "//namemc.com/profile/maisymoe.1"
    },
    {
        platform: "spotify",
        username: "maisy",
        color: "#00b570",
        href: "//open.spotify.com/user/31gzlvwxhbkhzb6yl2hsbe3zi2nu?si=d2d1b51d0dd0482c"
    },
    {
        platform: "mastodon",
        username: "maisy@wetdry.world",
        color: "#6364FF",
        href: "https://wetdry.world/@maisy",
    },
    {
        platform: "email",
        username: "maisymoe@riseup.net",
        iconPack: "mdi",
        color: "#bd3449",
        href:"mailto:maisymoe@riseup.net"
    }
]
---

<div class="flex flex-col gap-2 my-4">
    {socials.map((s) => <Social {...s} />)}
</div>
